.slider-0{
    position: relative;
    width: 500px;
    height: 200px;
    overflow: hidden;
}

.slides{
    height: 100%;
    width: 100%;
    transition: 1s;
    position: absolute;
    background-color: rgba(65, 47, 123, 0.15) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding-top: 10px;
}

.slides>h3>i{
    color: #f13024;
}

.slide-btn{
    background-color: transparent;
    border: none;
    width: 120px;
    height: 70px;
    font-size: larger;
    font-weight: 900;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 20;
}
.slide-btn>i{
    color: #f1322475;
    z-index: 20;
}

.slide-btn>i:hover{
    color: #f13024;
}

@media (max-width:1000px){
    .slides{
        width: 100%;
    }
    .slider-0{
        width: 115%;
        left: -17px;
    }
}